/*estilos gerais*/

@font-face {
    font-family: pokemon;
    src: url(../fonts/Pokemon\ Solid.ttf)
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: pokemon;
    font-size: 20px;
    letter-spacing: 0.3em;
    background: #3c5164 url(image/ash.png) no-repeat;
    background-position: right 50px;
}

h3 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.jump {
    margin-bottom: 20px;
}

/*corpo*/

.container {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 100px;
}

.topo {
    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: 30px;
    color: #ffcb05;
    text-shadow: 5px 5px 1px #001fd1;
    padding-bottom: 20px;
}

.campo {
    width: 350px;
    height: 70px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 70px;
    background-image: url(../image/pokebola.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-color: rgb(255, 255, 255, 0.8);
    font-size: 20px;
}

.btn {
    background: url(image/pokelupa.png)no-repeat center;
    width: 70px;
    height: 70px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}

.btn-2 {
    display: none;
}

/*resultado da busca*/

.resultado {
    display: flex;
    flex-direction: column;
    display: none;
}

.resultado_descricao {
    margin: 50px 0 20px 0;
    color: #ffcb05;
    text-shadow: 3px 3px 1px #001fd1;
}

.resultado_descricao span {
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 3px 1px #970000;
}

.resultado_icones {
    display: flex;
}

.pokemon_icon {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 0;
    width: auto;
    min-width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 20px;
    background: rgb(255, 255, 255, 0.3);
}

.pokemon_icon span {
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 3px 1px #970000;
}

/*modal*/

.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    height: 50px;
    background-color: #e85e6c;
    color: #fff;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 30%;
    height: auto;
    padding: 20px;
    background-color: #e6e3e3;
    color: #3c5164;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    letter-spacing: 0;
}

.modal button {
    margin-top: 60px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #0c9abe;
    color: #fff;
    font-size: 18px;
}

#close {
    padding: .8em;
    cursor: pointer;
}

#close:hover {
    color: #970000;
}

/*carregando*/

.carregando {
    margin-top: 50px;
    color: #ffcb05;
    text-shadow: 3px 3px 1px #001fd1;
    display: none;
}

/*responsivo*/

@media only screen and (max-width: 1024px) {
    .container {
        padding: 20px;
    }
    .resultado {
        width: 870px;
    }

    .modal-header {
        width: 70%;
    }
    .modal-content {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background: #3c5164;
    }
    .container {
        align-items: center;
    }
    .titulo {
        margin-bottom: 20px;
    }
    .resultado {
        justify-content: center;
        width: 600px;
    }
    .resultado_icones {
       
        flex-wrap: wrap;
        justify-content: center;
    }
    .pokemon_icon {
        min-width: 280px;
    }

    .modal-header {
        width: 90%;
    }
    .modal-content {
        width: 90%;
    }
}

@media only screen and (max-width: 547px) {
    
    .titulo {
        font-size: 25px;
    }
    .campo {
        width: 200px;
    }
    .resultado {
        width: 300px;
    }
}

@media only screen and (max-width: 396px) {

    .titulo {
        font-size: 20px;
    }
    .campo {
        width: 230px;
    }
    .btn {
        display: none;
    }
    .btn-2 {
        width: 300px;
        height: 70px;
        margin-top: 20px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 20px;
        display: block;
        background-color: #970000;
        color: #fff;
        font-size: 18px;
        letter-spacing: 0.3em;
    }
    .resultado {
        width: 300px;
    }

    .modal-header {
        width: 95%;
    }
    .modal-content {
        width: 95%;
        height: 500px;
    }

}

@media only screen and (max-width: 340px) {
    .titulo {
        font-size: 19px;
    }
    .resultado {
        width: 250px;
    }
}